
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url("image/fond-noel.jpg") no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* ❄️ NEIGE */
.snow::before,
.snow::after {
  content: "";
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: snow 20s linear infinite;
  opacity: 0.6;
}

.snow::after {
  animation-duration: 30s;
  opacity: 0.4;
}

@keyframes snow {
  from { transform: translateY(0); }
  to { transform: translateY(100vh); }
}

.card {
  background: white;
  padding: 35px;
  border-radius: 22px;
  width: 360px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0,0,0,0.35);
  z-index: 2;
}

h1 {
  margin-bottom: 10px;
}

.rules {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #c4161c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #a11217;
}

#result {
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold;
}

hr {
  margin: 25px 0;
}

.admin-title {
  font-size: 14px;
  color: #777;
}

.admin-btn {
  background: #444;
}

.admin-btn:hover {
  background: #222;
}
